.main
{
    width: 500px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
.main img
{
    height: auto;
    width: 100%;
 
}

main img:hover
{
    transform: scale(1.09);
}
.main h3
{
    text-align: center;
}
.main .content
{
    font-size: larger;
    font-weight: bold;
    line-height: 25px;
    text-align: justify;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: #6b6d61b9;
    height: 100%;
    color: white;
    transition: all .5s;
}

.main:hover .content
{
    top:0
}
.main:hover .social-icons
{
    bottom: 0;
}
.main .social-icons
{
    /* border: 2px black solid; */
    color: white;
    font-size: 25px;
    position: absolute;
    bottom: -100%;
    padding: 0 0 10px 130px;
    cursor: pointer;
    transition: all .5s;
   
}
.social-icons i
{
    margin: 0 15px;
   
}

.social-icons i:hover
{
   color: orange;
}


